<?xml version="1.0" encoding="UTF-8"?>
<!-- The plugin.dtd file is located in the OXYGEN_INSATALL_DIR/plugins directory -->
<!DOCTYPE plugin SYSTEM "../plugin.dtd">

<plugin
 id="com.oxygenxml.dita.references"
 name="DITA References View"
 description="This side-view shows all outgoing references for the current opened DITA topic."
 version="${project.version}"
 vendor="Syncro Soft"
 class="com.oxygenxml.ditareferences.workspace.WorkspaceAccessPlugin"
 classLoaderType="preferReferencedResources">
 
 <runtime>
    <library name="lib/${project.build.finalName}-images.jar"/>
    <library name="src\main\resources" scope="global"/>
    <library name="target/classes" />
	<librariesFolder name="target/lib" />
	<librariesFolder name="lib" />
 </runtime>
 
 <extension type="WorkspaceAccess" 
   class="com.oxygenxml.ditareferences.workspace.DITAReferencesWorkspaceAccessPluginExtension"/>
 
  <view id="DITAReferencesView" initialSide="EAST" initialRow="1" initialState="docked">
      <perspective id="xslt_debugger" initialState="hidden"/>
      <perspective id="xquery_debugger" initialState="hidden"/>
      <perspective id="database" initialState="hidden"/>
  </view>
</plugin>
